<!DOCTYPE html>
<html lang="en" style="scrollbar-gutter: stable;">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="csrf-token" content={get_csrf_token()} />
    <.live_title>
      <%= assigns[:page_title] || "Coyneye" %>
    </.live_title>
    <link phx-track-static rel="stylesheet" href={~p"/assets/app.css"} />
    <script defer phx-track-static type="text/javascript" src={~p"/assets/app.js"}>
    </script>
    <script>
      window.userId = "<%= @current_user_id %>";
    </script>
    <script>
      window.userToken = "<%= assigns[:user_token] %>";
    </script>
  </head>
  <body class="bg-white antialiased">
    <div id="menu">
      <img src={~p"/images/icons8-menu.svg"} />
      <div id="menu-dropdown" hidden>
        <ul>
          <%= if @current_user do %>
            <li class="text-[0.8125rem] text-zinc-900">
              <%= @current_user.email %>
            </li>
            <li>
              <.link
                href={~p"/prices"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Prices
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/settings"}
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Settings
              </.link>
            </li>
            <li>
              <.link
                href={~p"/users/log_out"}
                method="delete"
                class="text-[0.8125rem] leading-6 text-zinc-900 font-semibold hover:text-zinc-700"
              >
                Log out
              </.link>
            </li>
          <% else %>
            <li>
              <.link href={~p"/users/register"}>
                Register
              </.link>
            </li>
            <li>
              <.link href={~p"/users/log_in"}>
                Log in
              </.link>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <%= @inner_content %>
  </body>
</html>
